/*General Settings*/
@font-face {
	font-family: vhsfont;
	src: url(../../data/uploads/kindlyrewind-boon.ttf);
  }

@font-face {
	font-family: typewritter;
	src: url(../../data/uploads/teletyperetro-k7jge.ttf);
}

@font-face {
	font-family: roadrage;
	src: url(../../data/uploads/roadrage-owgbd.otf);
}


h1{
	font-size: 2em;
	font-family: roadrage;
	background-image: url('../../data/images/Index/tapeBanner.png');
	background-repeat: no-repeat;
	background-position: center;
	background-clip: padding-box;
	background-size: 98%;
	text-align: center;
	

	animation-name: heading;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: underline;
}

h3 {
	font-size: 1.3em;
}

main {
	color: white;
	padding:5%;
	margin-left:1cm;
	margin-right:1cm;
	background-color: #232933;
}



body {
	line-height: 1.6;
	font-size: 180%;
	font-family: typewritter;
	/*font-family: monospace;*/
	background-image: url('../../data/images/Index/static\ tumblr.com.gif');
	background-size: 100%;
	background-attachment: fixed;
  }


strong {
	animation-name: strong;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  /*Makes the welcome text 1.3 times bigger*/
#welcome {
	font-size: 1.3em;
}



/*Link Settings*/
	/*set the defaults for the anchor tag*/
a:link{
	color: #05f8fc;
	text-decoration: none;
}

	/*Change the colour on hover for the anchor tag*/
a:hover {
	color: #09bec1;
}
	/*set the colour for the anchor tag after it has been visited*/
a:visited{
	color: #fc05f4;
	text-decoration: none;
}

/*Nav bar Settings*/
/*settings for the h1, uses #title id and not h1 because the settings for anchor would override h1*/
#title {
	text-transform: uppercase;
	font-weight: bold;
	color: yellow;
	font-size: 150%;
}

/*box settings and background image for the header*/
header {
	padding: 1%;

	width: auto;
	height: auto;
	

	margin: 1%;
}

/*set up the container for the flex box*/
.navContainer {
	display: flex;
	flex-direction: row;
	background-color: #232933;
}

.navItem {
	padding: 2%;
	color: #05f8fc;
	justify-content: space-between;
	
}
	/*make the nav item 1.1 times bigger when hovered*/
.navItem:hover {
	transform: scale(1.1);
	background-color:#2b323f;
}


.dropDownItem:hover {
	transform: scale(1.1);
	background-color:#2b323f;
}

/*Hide the nav items*/
.dropDownList {
	display: none;
	position: absolute;
	color: #05f8fc;
	z-index: 1;
}

	/*the drop down is a flex inside a flex*/
#dropDown {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#dropDown:hover .dropDownList {
	display: block;
	padding: 10%;
	margin-top: 37%;
	background-color: #2b323f;
}

/*Animations*/
@keyframes strong {
	from {color: yellow;}
	to {color: red;}
}

@keyframes button {
  0%   {background-color: #ff0202;}
  15% {background-color: #ff8002;}
  30%  {background-color: #ffff02;}
  45% {background-color: #00ff00;}
  60%  {background-color: #02ffff;}
  75% {background-color: #0000ff;}
  100% {background-color: #ff00ff;}
}

@keyframes heading {
	0%   {text-shadow: 15px 0px 1px #09bec1;}
	50%  {text-shadow: 0px 15px 1px #09bec1;}
	100% {text-shadow: -15px 0px 1px #09bec1;}
	/*75% {text-shadow: 0px -10px 1px #09bec1;}
	100% {text-shadow: 10px 0px 1px #09bec1;}*/
}
@media (max-width: 900px) {
	.flex-container {
	  flex-direction: column;
	}
	.flex-item{
		flex:1;
		max-width: 100%;
	}
}

/*Product box settings*/
.flex-container {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 100%;
	justify-content: center;
}

.flex-item {
	max-width: 80%;
	min-width: 42%;
	margin: 2%;
	padding: 1%;
	flex: 1;
	background-color: #2b323f;
	
	
}

.flex-item > div{
	padding: 1%;		
}

.featured-list {
	float:left;
}

.featured-item {
	max-width: 75%;
	margin: 2%;
	padding: 1%;
	flex: 1;
	background-color: #2b323f;	
}



/*Product image settings*/
.productImage {
	width: auto;

}
.productImage img {
	
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;

}


/*footer settings*/
.bottom {
	max-height: 10%;
}

.logo img {
	width: 100%;
	height: 100%;
}

.logo {
	max-width: 10%;
	height: 100%;
	float: left;
	background-color: #232933;
	margin: 1cm;
	padding: 3%;
}

footer {
	max-width: 62%;
	float: right;
	color: white;
	padding: 5%;
	margin: 1cm;
	background-color:#232933
}

/*Button Settings*/
.button {
	color: #fff;
	font-family: roadrage;
	font-size: 1.2em;

	display: inline-block;
	padding: 15px 25px;
	margin:auto;
	
	
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	/*color: #fff;*/
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
	animation-name: button;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

  }
  
  .button:hover {
	transform: translateY(-4px);
	background-color: #00ff08;
	box-shadow: 0 4px #000000;
}
  
  .button:active {
	background-color: #00ff08;
	transform: translateY(4px);
}

/*Form Setttings*/
form {
	background-color: #2b323f;
	padding:2%
}

input, select, textarea {
	padding: 0.5%;
	margin-left: 2%;
	margin-bottom: 2%;
	margin-top: 1%;
}
